<div id="page-container">

  <main>

    <div id="heading-container">
      <h1>(Unbeatable) Tic Tac Toe</h1>
      <h4 *ngIf="player === 'X' && winner === null" class="subheading">Your turn (X)</h4>
      <h4 *ngIf="player === 'O' && winner === null" class="subheading">AI's turn (O)</h4>
      <h4 *ngIf="winner !== null && winner !== 'tie'" (click)="resetGame()" id="reset-btn"  class="subheading">{{ winner }} wins. Reset?</h4>
      <h4 *ngIf="winner == 'tie'" (click)="resetGame()" id="reset-btn"  class="subheading">Tie. Reset?</h4>
    </div>

    <div id="board-container" [class.disabled]="player === 'O' || winner !== null">
      <div class="space" (click)="board[0][0] === '' && winner === null && playSpace(0,0)" [ngClass]="{'disabled': board[0][0] !== '', 'marked': winningBoard[0][0]}">{{ board[0][0] }}</div>
      <div class="space" (click)="board[0][1] === '' && winner === null && playSpace(0,1)" [ngClass]="{'disabled': board[0][1] !== '', 'marked': winningBoard[0][1]}">{{ board[0][1] }}</div>
      <div class="space" (click)="board[0][2] === '' && winner === null && playSpace(0,2)" [ngClass]="{'disabled': board[0][2] !== '', 'marked': winningBoard[0][2]}">{{ board[0][2] }}</div>
      <div class="space" (click)="board[1][0] === '' && winner === null && playSpace(1,0)" [ngClass]="{'disabled': board[1][0] !== '', 'marked': winningBoard[1][0]}">{{ board[1][0] }}</div>
      <div class="space" (click)="board[1][1] === '' && winner === null && playSpace(1,1)" [ngClass]="{'disabled': board[1][1] !== '', 'marked': winningBoard[1][1]}">{{ board[1][1] }}</div>
      <div class="space" (click)="board[1][2] === '' && winner === null && playSpace(1,2)" [ngClass]="{'disabled': board[1][2] !== '', 'marked': winningBoard[1][2]}">{{ board[1][2] }}</div>
      <div class="space" (click)="board[2][0] === '' && winner === null && playSpace(2,0)" [ngClass]="{'disabled': board[2][0] !== '', 'marked': winningBoard[2][0]}">{{ board[2][0] }}</div>
      <div class="space" (click)="board[2][1] === '' && winner === null && playSpace(2,1)" [ngClass]="{'disabled': board[2][1] !== '', 'marked': winningBoard[2][1]}">{{ board[2][1] }}</div>
      <div class="space" (click)="board[2][2] === '' && winner === null && playSpace(2,2)" [ngClass]="{'disabled': board[2][2] !== '', 'marked': winningBoard[2][2]}">{{ board[2][2] }}</div>
    </div>

    <div id="credits-container">
      <p>Dimitri Batchev & Niels Kersic, 2021</p>
    </div>

  </main>

</div>
